<div class="container p-4">
  <div class="d-flex col-12 justify-content-between">
    <h2 class="mb-4">Employee Directory</h2>
    <button class="btn btn-success mb-3" (click)="addEmployee()">+ Add Employee</button>
  </div>
  <div class="table-container bg-white m-4">
    <div class="table-responsive">
      <table class="table table-hover table-borderless align-middle ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th ></th>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Gender</th>
            <th scope="col">Start Date</th>
            <th scope="col">Note</th>
            
            <th scope="col">Department</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img *ngIf="employee.profilePic; else noImage" [src]="employee.profilePic" alt="Profile Pic" class="img-thumbnail" width="50">
              <ng-template #noImage>
                <img [src]="noImageUrl" alt="No pic" class="img-thumbnail" width="50">
              </ng-template>
            </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.gender || 'Not Provided' }}</td>
            <td>{{ employee.startDate }}</td>
            <td>{{ employee.note || 'Not Provided' }}</td>
            
            <td>{{ employee.department }}</td>
            <td>
              <button class="btn" (click)="updateEmployee(employee.id)">✏️</button>
              <button class="btn" (click)="deleteEmployee(employee.id)">❌</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

